.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 47px;
	width: 47px;
	font-size: 1.9rem;

	&:hover {
		cursor: pointer;
		background: #0c0714;
		border-radius: 30px;
	}
}

.left-btn {
    display: flex;
    margin: 5px;
    padding: 15px;
	font-weight: bold;
    font-size: 1.2rem;
    justify-content: space-between;

	&:hover {
		cursor: pointer;
		color: #794bc4;
		background: #0c0714;
		border-radius: 30px;
	}
}
