.contenedor-izq {
	border-right: 1px solid #202327;
	padding: 0 15px 0 0 !important;
	min-width: 50px;
}

.logo {
	display: flex;
	padding: 10px;
	width: 52px;
	margin-left: 10px;

	.fas {
		font-size: 2.2rem;
	}

	&:hover {
		cursor: pointer;
		background: #0c0714;
		border-radius: 30px;
	}
}

.left-btn {
	display: flex;
	margin: 3px;
	padding: 10px;
	font-weight: bold;
	font-size: 1.2rem;
	align-items: center;

	&:hover {
		cursor: pointer;
		color: #794bc4;
		background: #0c0714;
		border-radius: 30px;
	}
}

.fas,
.far,
.fab {
	font-size: 1.5rem;
	margin-right: 20px;
}
