.contenedor-der {
	border-left: 1px solid #202327;
	padding: 0 0 0 15px !important;
}

.right-up {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.buscador-right {
	display: flex;
	align-items: center;
	background: #15181c;
	border-radius: 30px;
	padding: 10px;
}

.buscador-input {
	color: #d9d9d9;
	border: none;
	background-color: #15181c;
}

.buscador-input::placeholder {
	color: #b1b5bd;
}

.search-input-icon {
	width: 25px;
	margin: 0 5px 0 5px;

	.fas {
		color: #b1b5bd;
		font-size: 1.2rem;
	}
}

.right-mid {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	background: #15181c;
	margin: 15px 0 15px 0;
}

.right-low {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-radius: 30px;
	background: #15181c;
	margin: 15px 0 15px 0;
}

.right-footer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 20px;
	font-size: 0.9rem;
	color: #b1b5bd;
}

.tend-div {
	border-bottom: 1px solid #2f3336;
	padding: 10px 15px 0px 15px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.tend-icon {
	padding-bottom: 10px;

	.fas {
		font-size: 1.1rem;
		margin-right: 0px;
		&:hover {
			cursor: pointer;
		}
	}
}

.tendencias {
	font-size: 1.2rem;
	font-weight: bold;
	padding-bottom: 10px;
}

.right-mid-sub {
	color: #b1b5bd;
	font-size: 0.8rem;
}

.a-quien-seguir {
	border-bottom: 1px solid #2f3336;
	font-size: 1.3rem;
	font-weight: bold;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.right-mid-link {
	font-size: 1rem;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
}

.right-mid-sublink {
	color: #865dca;
	font-size: 1rem;
	padding: 10px 15px 10px 15px;

	&:hover {
		cursor: pointer;
	}
}

.right-low-link {
	color: #b1b5bd;
	font-size: 0.8rem;
	margin-right: 10px;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

.right-low-footer {
	margin: 0 auto;
	color: #b1b5bd;
	font-size: 0.8rem;
}

.each-tendencia {
	padding: 10px 15px 10px 15px;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #2f3336;

	&:hover {
		cursor: pointer;
		background: #191c20;
	}
}

.right-low-persona {
	display: flex;
	align-items: center;
}

.persona {
	font-size: 1.1rem;
	font-weight: bold;
}

.avatar-low-right {
	.fas {
		font-size: 3rem;
	}
}

.persona-user {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.right-low-user {
	color: #b1b5bd;
	font-size: 0.9rem;
}
