.contenedor-izq {
  border-right: 1px solid #202327;
  padding: 0 15px 0 0 !important;
  min-width: 50px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  width: 52px;
  margin-left: 10px;
}

.logo .fas {
  font-size: 2.2rem;
}

.logo:hover {
  cursor: pointer;
  background: #0c0714;
  border-radius: 30px;
}

.left-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px;
  padding: 10px;
  font-weight: bold;
  font-size: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-btn:hover {
  cursor: pointer;
  color: #794bc4;
  background: #0c0714;
  border-radius: 30px;
}

.fas,
.far,
.fab {
  font-size: 1.5rem;
  margin-right: 20px;
}

.piar-btn {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  background: #794bc4;
  margin: 10px;
  margin-bottom: 30px;
}

.piar-btn:hover {
  cursor: pointer;
  background: #865dca;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.piar-btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.contenedor-cen {
  padding: 0 25px 0 25px;
  width: 100%;
}

.center-top {
  border-bottom: 1px solid #2f3336;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 13px;
}

.estrellas-icon {
  font-size: 1.5rem;
  padding: 5px;
}

.estrellas-icon:hover {
  cursor: pointer;
  background: #0c0714;
  border-radius: 30px;
}

.inicio-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.inicio-center:hover {
  cursor: pointer;
}

.input-center {
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 5px solid #202327;
}

.avatar-center .fas {
  font-size: 2.5rem;
}

.avatar-center .fas:hover {
  cursor: pointer;
}

.pio-input-div {
  width: 100%;
}

.pio-input {
  color: #d9d9d9;
  width: 100%;
  font-size: 1.2rem;
  background-color: #000;
  border: none;
}

.pio-input::-webkit-input-placeholder {
  color: #b1b5bd;
}

.pio-input:-ms-input-placeholder {
  color: #b1b5bd;
}

.pio-input::-ms-input-placeholder {
  color: #b1b5bd;
}

.pio-input::placeholder {
  color: #b1b5bd;
}

.input-up {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.input-down {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.piar-btn-mid {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 30px;
  padding: 6px 18px 6px 18px;
  background: #794bc4;
  margin: 10px;
}

.piar-btn-mid:hover {
  cursor: pointer;
  background: #865dca;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}

.piar-btn-mid:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.tools-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5px;
  padding: 0 10px 0 10px;
}

.tool-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tool-icon .far,
.tool-icon .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  width: 35px;
  font-size: 1.1rem;
  color: #794bc4;
}

.tool-icon .far:hover,
.tool-icon .fas:hover {
  cursor: pointer;
  background: #162632;
  border-radius: 30px;
}

.pio-icons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5px;
  padding: 0 10px 0 10px;
}

.pio-icons .far,
.pio-icons .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  font-size: 1.1rem;
}

.pio-icons .far:hover,
.pio-icons .fas:hover {
  cursor: pointer;
  color: #794bc4;
  background: #162632;
  border-radius: 30px;
}

.pio-persona {
  width: 100%;
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #202327;
}

.pio-nombre {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
}

.pio-nombre:hover {
  cursor: pointer;
  text-decoration: underline;
}

.pio-user {
  margin-left: 10px;
  color: #b1b5bd;
  font-size: 1rem;
  padding: 5px 0px 5px 0px;
}

.pio-fecha {
  margin-left: 10px;
  color: #b1b5bd;
  font-size: 0.9rem;
  padding: 5px 0px 5px 0px;
}

.pio-fecha:hover {
  cursor: pointer;
  text-decoration: underline;
}

.pio-user-div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.center-name-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pio-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.avatar-mid-pio {
  margin-right: 10px;
  width: 48px;
}

.avatar-mid-pio .fas {
  font-size: 3rem;
}

.contenedor-pio {
  width: 100%;
}

.contenedor-pio:hover {
  background: #15181c;
  cursor: pointer;
}

.avatar-circle {
  border-radius: 30px;
}

.contenedor-der {
  border-left: 1px solid #202327;
  padding: 0 0 0 15px !important;
}

.right-up {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buscador-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #15181c;
  border-radius: 30px;
  padding: 10px;
}

.buscador-input {
  color: #d9d9d9;
  border: none;
  background-color: #15181c;
}

.buscador-input::-webkit-input-placeholder {
  color: #b1b5bd;
}

.buscador-input:-ms-input-placeholder {
  color: #b1b5bd;
}

.buscador-input::-ms-input-placeholder {
  color: #b1b5bd;
}

.buscador-input::placeholder {
  color: #b1b5bd;
}

.search-input-icon {
  width: 25px;
  margin: 0 5px 0 5px;
}

.search-input-icon .fas {
  color: #b1b5bd;
  font-size: 1.2rem;
}

.right-mid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  background: #15181c;
  margin: 15px 0 15px 0;
}

.right-low {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 30px;
  background: #15181c;
  margin: 15px 0 15px 0;
}

.right-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  font-size: 0.9rem;
  color: #b1b5bd;
}

.tend-div {
  border-bottom: 1px solid #2f3336;
  padding: 10px 15px 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tend-icon {
  padding-bottom: 10px;
}

.tend-icon .fas {
  font-size: 1.1rem;
  margin-right: 0px;
}

.tend-icon .fas:hover {
  cursor: pointer;
}

.tendencias {
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.right-mid-sub {
  color: #b1b5bd;
  font-size: 0.9rem;
}

.a-quien-seguir {
  border-bottom: 1px solid #2f3336;
  font-size: 1.3rem;
  font-weight: bold;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.right-mid-link {
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
}

.right-mid-sublink {
  color: #865dca;
  font-size: 1rem;
  padding: 10px 15px 10px 15px;
}

.right-mid-sublink:hover {
  cursor: pointer;
}

.right-low-link {
  color: #b1b5bd;
  font-size: 0.8rem;
  margin-right: 10px;
}

.right-low-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.right-low-footer {
  margin: 0 auto;
  color: #b1b5bd;
  font-size: 0.8rem;
}

.each-tendencia {
  padding: 10px 15px 10px 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #2f3336;
}

.each-tendencia:hover {
  cursor: pointer;
  background: #191c20;
}

.right-low-persona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.persona {
  font-size: 1rem;
  font-weight: bold;
}

.avatar-low-right .fas {
  font-size: 3rem;
}

.persona-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right-low-user {
  color: #b1b5bd;
  font-size: 0.9rem;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  .contenedor-izq {
    border-right: 0px;
  }
  .contenedor-der {
    border-left: 0px;
  }
  .right-up {
    margin-top: 15px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .contenedor-izq {
    border-right: 0px;
  }
  .contenedor-der {
    border-left: 0px;
  }
  .right-up {
    margin-top: 15px;
  }
}

@media all and (max-width: 480px) {
  .contenedor-izq {
    border-right: 0px;
  }
  .contenedor-der {
    border-left: 0px;
    padding-right: 15px !important;
  }
  .right-up {
    margin-top: 15px;
  }
  .input-center {
    padding-right: 0;
    padding-left: 0;
  }
  .pio-persona {
    padding-right: 0;
    padding-left: 0;
  }
  .contenedor-gen {
    padding: 0 !important;
    margin: 0 !important;
  }
  .contenedor-izq {
    padding-left: 15px !important;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

html,
body,
#root {
  background-color: #000000;
  color: #D9D9D9;
}

.contenedor-gen {
  padding: 1rem;
  max-width: 100vw;
}

.col,
.row {
  padding: 0 !important;
  margin: 0 !important;
}
