@import './left';
@import './center';
@import './right';

* {
	box-sizing: border-box;
	margin: 0;
	outline: 0;
	padding: 0;
	transition: all 0.1s ease;
	user-select: none;
}

html,
body,
#root {
	background-color: #000000;
	color: #ffffff;
}

.contenedor-gen {
    padding: 2rem;
    max-width: 100vw;
}
