.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  width: 52px;
  margin-left: 10px;
}

.logo .fab {
  font-size: 2rem;
}

.logo:hover {
  cursor: pointer;
  background: #0c0714;
  border-radius: 30px;
}

.left-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3px;
  padding: 15px;
  font-weight: bold;
  font-size: 1.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left-btn:hover {
  cursor: pointer;
  color: #794bc4;
  background: #0c0714;
  border-radius: 30px;
}

.fas,
.far,
.fab {
  font-size: 1.5rem;
  margin-right: 20px;
}

.twittear-btn {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  background: #794bc4;
  margin-top: 10px;
}

.twittear-btn:hover {
  cursor: pointer;
  background: #865dca;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.twittear-btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.contenedor-cen {
  border: 1px solid grey;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html,
body,
#root {
  background-color: #000000;
  color: #ffffff;
}

.contenedor-gen {
  padding: 2rem;
  max-width: 100vw;
}
