@import './left';
@import './center';
@import './right';
@import './mediaqueries';

* {
	box-sizing: border-box;
	margin: 0;
	outline: 0;
	padding: 0;
	transition: all 0.1s ease;
}

html,
body,
#root {
	background-color: #000000;
	color: #D9D9D9;
}

.contenedor-gen {
	padding: 1rem;
	max-width: 100vw;
}

.col,
.row {
	padding: 0 !important;
	margin: 0 !important;
}
